body {
    background-color: seagreen;
}

h1{
    color: snow;
}


.makegreen{
    color: whitesmoke;
}

h1,address{
    text-align: center;
}

div{
    text-align: center;
}

footer{
    text-align: center;
}
